<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style3.css">
</head>

<body>
    <header>
        <nav>
            <div class="left">
                <h1>Dr. Bhuvanesh</h1>
                <i class='bx bx-menu' id="menu-icon"></i>
            </div>
            <div class="right">
                <ul>
                    <li><a href="http://localhost:8000/home">Home</a></li>
                    <li><a href="http://localhost:8000/About">About</a></li>
                    <li><a href="http://localhost:8000/Services">Services</a></li>
                    <li><a href="http://localhost:8000/Contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="about" id="about">
        <div class="about-img">
            <img src="/images/Bhuvanesh.png" alt="Bhuvanesh">
        </div>

        <div class="about-content">
            <h2 class="heading">About&nbsp;&nbsp;&nbsp;<span>Me</span></h2>
            <h3>Dr. Bhuvanesh Patil</h3>
            <h4>BHMS (H. Medicine), M (Arc),</h4>
            <P>Welcome to the world Homeopathy by <span>Dr. Bhuvanesh Patil.</span> We are registered with Maharastra counsil of Homeopathy, Nashik India. I completed my medical studies in homeopathy at the University of Nashik, and practicing homeopathy in india for last 2 year. Our practice established in Nashik, India. I specialize in Skin Problem, Hair Problems, Allergy, Joint Pains. I am in an institute name (Motivala Homeopathy) where we share & learn Homeopathy. I have written a book called 'LITTELE ANGELS' --BEGINNERS SERIES-- Part III. Dr. Anagha Mahajan is specialist in cosmetic issues, Hairfall, pigmentation, all types of skin Diseases. I have completed my medical studies in Homeopathy at the University of Nashik, and practicing homeopathy in india for last 2 years. I appreciate your interest in Homeopathy and hope that you will find the necessary information through this website here you can discover the genius of Homeopathy. About my background , about what to expect, and more I look forword to hear from you. I am committed to help you with this wonderful system of medicine Read More   </P>
        </div>

    </section>

    <div class="paragraph">
        <div class="para">
            <h2>What is Homeopathy</h2>
            <p>homeopathy , also known as homeopathic medicine, is a medical system that was developed in Germany more than 200 years ago. It's based on two unconventional theories
            "Like cures like" --the notion that a disease can be cured by a substance thar produces similar symptoms in healthy people. "Law of minimum dose" --the notion that the lower the of the medication, the greater effectiveness . any homeopathy products are so diluted that no molecules of the original substance remain</p>
        </div>
    </div>

    <!-- <div class="about">
        <div class="left">
            <img src="/images/Bhuvanesh.png" alt="Bhuvanesh">
        </div>
        <div class="right">
           <h1> Dr.Bhuvanesh Patil</h1>
            <h1>BHMS(H. Medicine)</h1>
        </div>
    </div>
    <div class="overview">
        <h1>overview</h1>
        <div class="info">
        <p>Dr. Bhuvanesh Patil consectetur adipisicing elit. Illo suscipit voluptates praesentium distinctio aliquam nam nobis amet debitis at ab, eaque corporis aperiam. Nemo repudiandae mollitia quisquam sint voluptates, optio, culpa accusamus iusto, doloribus voluptas recusandae molestias adipisci. Repudiandae dolores vero fuga dolorum sit laudantium maxime sequi ratione tempora facere voluptate esse voluptates eligendi, enim porro temporibus, tenetur fugit nobis debitis perspiciatis incidunt itaque! Consequuntur quibusdam, consequatur quisquam alias eos sint, provident porro minima nesciunt facilis voluptatem vitae accusamus obcaecati nulla officiis? Aspernatur temporibus quos cupiditate expedita consequatur quae. Blanditiis facilis laboriosam perspiciatis enim dolorem voluptates molestiae consequuntur saepe in earum, ex deserunt sint eius hic nihil rerum deleniti! Veniam, illum et? Obcaecati maxime quo provident tempore nobis? Quo inventore qui autem natus blanditiis.</p>
    </div>
    </div> -->

    <main>
        <div class="location">
            <h1>Contact Us For Details</h1>
            <h3><i class='bx bx-phone-call'></i>&nbsp;&nbsp;&nbsp;Call Today</h3>
            <p>contact:2857893691,9035746866</p>
            <p>Toll Freen No. 1423-476-2654</p>

            <h3><i class='bx bx-envelope'></i>&nbsp;&nbsp;&nbsp;Email Us</h3>
            <p>bhuvipatil0266@gmail.com</p>

            <h3><i class='bx bx-location-plus'></i>&nbsp;&nbsp;&nbsp;Location</h3>
            <p>Gujaral Petrol Pump, Jalgaon</p>

            <h3><i class='bx bx-time-five'></i>&nbsp;&nbsp;&nbsp;Ours Timings</h3>
            <p>Mon-sat:10:00AM - 07:00PM</p>
        </div>
        <div class="contact">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3931346917557!2d75.5347860751977!3d21.016950088184153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd90fdd63a7a34b%3A0x16b310165e6c29f6!2sGujaral%20Petrol%20Pump%20Stop!5e0!3m2!1shi!2sin!4v1706522580435!5m2!1shi!2sin"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>

    <footer>
        <div class="footer">
            <h4>&#169;Dr Bhuvanesh -All rights reserved</h4>
        </div>
    </footer>
</body>

</html>