<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <form method="post">
        <div class="container">

            <input type="first name" placeholder="First Name" name="fname">
            <input type="last name" placeholder="Last Name" name="lname">
            <input type="e-mail" placeholder="Email" name="email">
            <input type="messages" placeholder="text" name="message">
            <button>Book Apoinment</button>
        </div>
        
       <h1><%= text%></h1>

       
    </form>
    <main>
        <div class="location">
            <h1>Contact Us For Details</h1>
            <h1><i class='fas fa-map-marker-alt'>Call Today</i></h1>
            <p>contact:2857893691,9035746866</p>
            <p>Toll Freen No. 1423-476-2654</p>

            <h1>Email Us</h1>
            <p>bhuvipatil0266@gmail.com</p>

            <h1>Locaton</h1>
            <p>Gujaral Petrol Pump, Jalgaon</p>
        </div>
        <div class="contact">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3931346917557!2d75.5347860751977!3d21.016950088184153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd90fdd63a7a34b%3A0x16b310165e6c29f6!2sGujaral%20Petrol%20Pump%20Stop!5e0!3m2!1shi!2sin!4v1706522580435!5m2!1shi!2sin"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
</body>

</html>