
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.heading, h1{
    margin-top: 80px;
   }
   
   
   .firstsection{
       margin-top: 200px;
       display: flex;
       justify-content: space-around;
   }
   
   .services{
       height: 370px;
       width: 300px;
       margin-top: 150px;
       border: 2px solid;
   }
   
   .services, img{
       text-align: center;
       margin-top: 5px;
       border-radius: 6px;
       background-color: rgb(91, 45, 134) ;
   }

   
   /* .sectionsecond{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
   
   }  */

   /* .working, img{
    height: 200px;
    width: 250px;
    margin: 20px;
    border-radius: 5px;
   } 


    img:hover{
    width: 300px;
    height: 350px;
   }  */

   /* .thirdsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
   }

   .working, img{
    height: 300px;
    width: 350px;
    margin: 20px;
    border-radius: 5px;
   }  */

   img:hover{
    width: 250px;
    height: 300px;
   } 

   main{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    background-color:rgb(187, 125, 228) ;
    height: 20%;
    width: 70%;
    margin-left: 220px;
}